## Plot_things

For plotting data from the three phases together

In [1]:
#imports
import math
import numpy as np
import pandas as pd
import os
import sys
import subprocess
import matplotlib as plt
import seaborn as sns
%matplotlib qt

In [10]:
#dataframes to load
trunc_xls=['phase1_waterfall_trun.xlsx','phase2_waterfall_trun.xlsx','phase2_waterfall_trun.xlsx']
full_xls=['phase1_waterfall_full.xlsx','phase2_waterfall_full.xlsx','phase3_waterfall_full.xlsx']

#load in dataframes
full_dfs={}
for xls in full_xls:
    full_dfs[xls]=pd.read_excel(xls)
    

trunc_dfs={}
for xls in trunc_xls:
    trunc_dfs[xls]=pd.read_excel(xls)

In [ ]:
#plot waterfall phase 1
sns.heatmap(phase_dfs['phase1_waterfall_trun.xlsx'])

In [ ]:
#plot waterfall phase 2
sns.heatmap(phase_dfs['phase2_waterfall_trun.xlsx'])

In [ ]:
#plot waterfall phase 3
sns.heatmap(phase_dfs['phase3_waterfall_trun.xlsx'])

In [14]:
#combine all three and plot all at once?
# 2: combine full dataframes using concat axis 0
# 3: fix NaNs
# 4: plot

all_phases=pd.concat(full_dfs,axis=0)

sns.heatmap(all_phases)

In [12]:
#plot cumulative averages of each phase on same plot
ave_dfs={}
for df in full_xls:
    ave_dfs[df] = full_dfs[df].mean(axis=0)

nplt=0
for df in ave_dfs.keys():
    if nplt==1:
        ave_dfs[df].plot(ax=ax,grid=True,yticks=[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1],legend=True)
    if nplt==0:
        ax = ave_dfs[df].plot(grid=True,yticks=[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1],legend=True)
        nplt=nplt+1
#phase_123_freq_aves.tiff

In [9]:
ave_dfs[full_xls[0]].columns

0        0.881641
1        0.889672
2        0.900824
3        0.910338
4        0.916067
5        0.917421
6        0.914344
7        0.906943
8        0.898258
9        0.892172
10       0.887449
11       0.883289
12       0.880581
13       0.879205
14       0.878492
15       0.878501
16       0.878353
17       0.877986
18       0.877703
19       0.877566
20       0.877378
21       0.877312
22       0.877473
23       0.878487
24       0.880455
25       0.882821
26       0.885157
27       0.886972
28       0.887897
29       0.887560
           ...
16353    0.343304
16354    0.344089
16355    0.344459
16356    0.344351
16357    0.344631
16358    0.345662
16359    0.347066
16360    0.347876
16361    0.347599
16362    0.346813
16363    0.346880
16364    0.347634
16365    0.347881
16366    0.347702
16367    0.347839
16368    0.348345
16369    0.348700
16370    0.348816
16371    0.349347
16372    0.350144
16373    0.350251
16374    0.349296
16375    0.352895
16376    0.368268
16377    0.380820
16378    0.391141
16379    0.398993
16380    0.399261
16381    0.378840
16382    0.368732
dtype: float64

In [4]:
full_dfs[full_xls[2]]

,949.2,949.215625,949.23125,949.246875,949.2625,949.278125,949.29375,949.309375,949.325,949.340625,...,1205.028125,1205.04375,1205.059375,1205.075,1205.090625,1205.10625,1205.121875,1205.1375,1205.153125,1205.16875
0,1,1,1,1,1,1,1,1,1,1,...,0.626333,0.619336,0.617239,0.619801,0.622212,0.623892,0.623082,0.619401,0.620306,0.622252
1,1,1,1,1,1,1,1,1,1,1,...,0.809015,0.807297,0.805281,0.806121,0.806896,0.806214,0.804668,0.806773,0.811994,0.812891
2,1,1,1,1,1,1,1,1,1,1,...,0.396774,0.392628,0.387346,0.389296,0.394017,0.395173,0.392769,0.394071,0.398214,0.400657
3,1,1,1,1,1,1,1,1,1,1,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
4,1,1,1,1,1,1,1,1,1,1,...,0.632039,0.620602,0.616082,0.620140,0.624786,0.626592,0.623861,0.625532,0.633289,0.633598
5,1,1,1,1,1,1,1,1,1,1,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
6,1,1,1,1,1,1,1,1,1,1,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
7,1,1,1,1,1,1,1,1,1,1,...,0.705464,0.701356,0.706488,0.712558,0.711981,0.707829,0.703951,0.709383,0.714250,0.715682
8,1,1,1,1,1,1,1,1,1,1,...,0.845403,0.841884,0.841144,0.845329,0.849997,0.849872,0.845522,0.845580,0.847635,0.848117